/* cosmiclink_description styling */

// Configuration
$big: 1.4em;
$medium: 0.618 * $big;
$small: 0.618 * $medium;
$smallest: 0.382 * $small;

// Generic
.cosmiclink_description {
  line-height: $big;

  > *, {
    margin: $big 0;
  }

  ul {
    margin: $small 0;

    padding-left: $small;
    list-style-type: none;
    list-style-position: inside;
  }
}

// Transaction description

.cosmiclib_transactionNode > * {
  margin: $medium 0;
}

.cosmiclib_sideInfo {
  border-left: medium solid lightgrey;
}

.cosmiclib_sourcedOperation {
  background: ghostwhite;

  & > * {
    margin: $smallest 0;
    padding-left: $small;
  }

  .cosmiclib_operation {
    border-left: medium solid transparent;
  }
}

// State description

.cosmiclib_signersNode {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  // Flexbox doesn't collapse its own margins.
  &:empty { display: none; }
}

.cosmiclib_statusNode,
.cosmiclib_signersNode {
  font-size: 0.9em;

  ul {
    margin-top: 0;
    padding-left: 0;
  }
}

.cosmiclib_status,
.cosmiclib_threshold {
  font-weight: bold;
  font-stretch: condensed;
}

.cosmiclib_errors {
  background: salmon;

  li::before {
    content: " ✘ ";
    color: tomato;
  }
}

.cosmiclib_signers li {
  padding-right: $smallest;
}

.cosmiclib_signed {
  background-color: lightgreen;

  &::before {
    content: " ✔ ";
    color: mediumseagreen;
  }
}

// Hover effects

.cosmiclib_clickable,
.cosmiclib_error {
  border-top: medium solid transparent;
  border-bottom: medium solid transparent;
  padding: 0 0.1em;
  transition: all 0.2s;

  &:hover {
    cursor: pointer;
  }
}

.cosmiclib_clickable {
  border-bottom-color: #F0F0F0;

  &:hover {
    border-top-color: whitesmoke;
    background-color: whitesmoke;
  }
}

.cosmiclib_error {
  border-bottom-color: tomato;

  &:hover {
    border-top-color: salmon;
    background-color: salmon;
  }
}

// Misc
.cosmiclib_tilde {
  font-style: bold;
  color: lightgrey;
}

// Spinner
.cosmiclib_loadingAnim,
.cosmiclib_loader {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0 $smallest;

  border-radius: 100%;
  background-color: grey;

  vertical-align: middle;

  animation: animate 1.0s infinite;
}

@keyframes animate {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1.0);
    opacity: 0;
  }
}
